/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    background-color: #ffffff;
    font-size: 16px;
    color: #6B6B6B;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto';
    font-weight: 300;
}












/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 30px;
}

.clear {
    clear: both;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}

.form-control:focus {
    border-color: #fff;
}

h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
    color: #525252;
}

h4,
h5 {
    /*font-family: 'roboto', sans-serif;*/
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
    color: #525252;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.8rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
}

p:last-child {
    margin-bottom: 0px;
}












/*.home-wrap h1,*/

.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}

.text {
    color: #333333;
}

.colorstext {
    color: #f56363;
}

.coloricon i {
    color: #f56363;
}

.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    /*background-color: #dddfeb;*/
    background: url(../images/key-difference.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.lightbg1 {
    /*background-color: #dddfeb;*/
    background: url(../images/career.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}












/*
Section
*/

.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.sections2 {
    padding-top: 350px;
    padding-bottom: 350px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.sections3 {
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.sections4 {
    padding-top: 5px;
    position: relative;
    overflow: hidden;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background: #222222;
}

section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}


.heading {
    margin-bottom: 4rem;
}

.overlay {
    /* background-color: rgba(0, 0, 0, .45); */
    width: 100%;
    overflow: hidden;
    min-height: 800px;
}

.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}

.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}

.no-padding {
    padding: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}












/*
Separator
*/

.separator {
    height: 1px;
    width: 150px;
    margin: auto;
    background: #f56363;
}












/*
Button
*/

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #f56363;
    border-color: #f56363;
}












/*
Extra height css
*/

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.padding-top-20 {
    padding-top: 1.33rem;
}

.padding-bottom-20 {
    padding-bottom: 1.33rem;
}

.padding-top-40 {
    padding-top: 2.66rem;
}

.padding-bottom-40 {
    padding-bottom: 2.66rem;
}

.padding-top-60 {
    padding-top: 5rem;
}

.padding-bottom-60 {
    padding-bottom: 5rem;
}

.padding-bottom-0 {
    padding-bottom: 0;
}












/*padding*/

.padding-twenty {
    padding: 10px 0;
}

.padding-fourty {
    padding: 20px 0;
}

.padding-sixty {
    padding: 30px 0;
}

.padding-eighty {
    padding: 40px 0;
}

h1 span {
    color: #f56363;
    font-weight: 400;
}












/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #c3bec2;
    font-size: 12px;
}

input::-moz-placeholder {
    color: #c3bec2;
    font-size: 12px;
}

input:-ms-input-placeholder {
    color: #c3bec2;
    font-size: 12px;
}

textarea::-webkit-input-placeholder {
    color: #c3bec2;
    font-size: 12px;
}

textarea::-moz-input-placeholder {
    color: #c3bec2;
    font-size: 12px;
}

textarea::-ms-input-placeholder {
    color: #c3bec2;
    font-size: 12px;
}













/*For Our Global Section*/

.heading-content {
    margin-bottom: 4rem;
}

.heading-content h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
    margin-bottom: 50px;
}

.btn-default {
    color: #fff;
    background-color: #ff2b4a;
    border-color: transparent;
    border-radius: 0;
    padding: 10px 60px;
    font-size: 16px;
    transition: .3s ease-in-out;
}

.btn-default:active,
.btn-default:hover {
    background: #002453;
    color: #fff;
}












/*For Menu Section*/


/*For Home Section*/

.home {
    background: url(../images/cover-bg.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.home-wrapper {
    margin-top: 240px;
    color: #fff;
}

.home-content h1 {
    font-size: 65px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-family: "Raleway Webfont";
    letter-spacing: 12px;
    border-top: 2px solid #ecf0f2;
    border-bottom: 2px solid #ecf0f2;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.21);
}

.home-content p {
    font-size: 25px;
    margin-top: 20px;
    color: #ecf0f2;
}












/*For About Us Section */

.about-content {
    margin-top: 140px;
}

.about-content h4 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
}

.about-content p {
    /*font-size:18px;*/
    color: #fff;
    /*font-family: 'robotobold';*/
}

.about-content a {
    margin-top: 40px;
}












/*For Features Section*/

.features-bg {
    background: #10c6fc;
    color: #fff;
    height: 155px;
    width: 165px;
    margin: 0 auto 20px auto;
}

.features-item {
    padding-top: 39px;
}

.features-item i {
    font-size: 40px;
}

.features-item h6 {
    padding-top: 13px;
    padding-right: 5px;
    padding-left: 5px;
}

.features-item h6 a {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}












/*.features-item h6 a:hover{
    color:#ff2b4a;
}*/

.features-bg.design {
    background: #10c6fc;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    background: rgba(83, 41, 1, 1);
    background: -moz-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83, 41, 1, 1)), color-stop(47%, rgba(107, 60, 15, 1)), color-stop(100%, rgba(83, 41, 1, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: linear-gradient(135deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532901', endColorstr='#532901', GradientType=1);
}












/*.features-bg.design:hover{
    background:#2d6879;
}*/

.features-bg.development {
    background: #835aeb;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    background: rgba(83, 41, 1, 1);
    background: -moz-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83, 41, 1, 1)), color-stop(47%, rgba(107, 60, 15, 1)), color-stop(100%, rgba(83, 41, 1, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: linear-gradient(135deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532901', endColorstr='#532901', GradientType=1);
}












/*.features-bg.development:hover{
    background:#6b647c;
}*/

.features-bg.testing {
    background: #002453;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    background: rgba(83, 41, 1, 1);
    background: -moz-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83, 41, 1, 1)), color-stop(47%, rgba(107, 60, 15, 1)), color-stop(100%, rgba(83, 41, 1, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: linear-gradient(135deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532901', endColorstr='#532901', GradientType=1);
}












/*.features-bg.testing:hover{
    background:#64cbc0;
}*/

.features-bg.launch {
    background: #ff2b4a;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    background: rgba(83, 41, 1, 1);
    background: -moz-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(83, 41, 1, 1)), color-stop(47%, rgba(107, 60, 15, 1)), color-stop(100%, rgba(83, 41, 1, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    background: linear-gradient(135deg, rgba(83, 41, 1, 1) 0%, rgba(107, 60, 15, 1) 47%, rgba(83, 41, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532901', endColorstr='#532901', GradientType=1);
}









/*.features-bg.launch:hover {
    background: #222222;
}*/


/*For Experience Section*/

.who-we-are {
    background: url(../images/header-bg.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.portfolio {
    background: url(../images/our-products.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.portfolio-heading {
    background: rgba(0, 0, 0, 0.28);
    padding: 20px 10px;
}

.experience {
    background: url(../images/section3.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.experience-wrapper {
    margin-top: 30px;
}

.experience-content {
    background: rgba(0, 0, 0, 0.65);
    padding: 15px 20px;
    color: #fff;
    -moz-box-shadow: 1px 1px 18px #000000;
    -webkit-box-shadow: 1px 1px 18px #000000;
    box-shadow: 1px 1px 18px #000000;
}

.experience-content h4 {
    color: #eb9433;
    text-transform: uppercase;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
    margin-bottom: 50px;
}
.custom-color-00 {
    color: #000000 !important;
}
.custom-color {
    color: #eb9433 !important;
}
.bg-custom-color {
    background: #eb9433 !important;
}
.bg-custom-color-opac {
    background: rgba(235, 148, 51, 0.70) !important;
}
.custom-h4-1 {
    font-size: 35px !important;
    margin-bottom: 0px !important;
}
.custom-h4 {
    font-size: 23px !important;
    margin-bottom: 0px !important;
}

.experience-content .content-details h5 {
    color: #fff;
    font-size: 18px;
}

.experience-content .content-details h6 {
    color: #fff;
    font-size: 16px;
}

.experience-content .content-details p {
    color: #fff;
    margin-bottom: 12px;
}

.experience-content .content-details.content-border {
    
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.portfoli-content h5 {
    font-size: 24px;
}

.portfoli-content p {
    font-size: 16px;
    margin-bottom: 0 !important;
}












/* For Portfolio Section*/

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-wrapper2 {
    margin-top: 25px;
}

.portfolio-wrapper2 .portfolio-item.width-img {
    width: 100%;
    overflow: hidden;
    height: 243px;
}

.portfolio-wrapper2 .portfolio-item.width-img img {
    width: 100%;
}












/* For Testimonial Section*/

.testimonial-content {
    margin-top: 30px;
    margin-bottom: 50px;
    /*background: #000000ab;*/
    /*padding: 20px 30px;*/
}

.testimonial-wrapper {
    background: rgba(0, 0, 0, 0.80);
    padding: 30px;
}

.testimonial-content .testimonial-quote i {
    font-size: 60px;
    margin-bottom: 40px;
    color: #fff;
}

.testimonial-content .testimonial-quote p {
    font-size: 16px;
}

.testimonial-content .singnature {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 50px 0 30px 0;
}

.testimonial-content .regards-by h5 {
    margin-bottom: 5px;
}

.testimonial-quote p {
    color: #fff;
}

.testimonial-quote h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
    margin-bottom: 50px;
    color: #fff;
}

.profile-photo {
    height: 650px;
}












/*For Contact Section*/

.contact {
    background: url(../images/contact2.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.contact-area {
    background: rgba(79, 50, 68, .7);
    padding: 60px 40px 147px 40px;
    color: #fff;
}

.contact-wrapper h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}

.contact-wrapper h5 {
    color: #fff;
}

.form-control {
    border: 1px solid #c3bec2;
    font-size: 16px;
    height: 50px;
    background: transparent;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact-area form a {
    float: right;
    margin-top: 20px;
}

.contact-details {
    background: rgba(55, 38, 57, 0);
    padding: 60px 40px;
    color: #fff;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.28);
    padding: 60px 40px;
    color: #fff;
}

.contact-details h4 {
    margin-bottom: 25px;
    color: #ffa154;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.contact-details p {
    margin: 0 0 10px;
    /*color:#c3bec2;*/
}












/* For Footer Area */

.main-footer .social {
    margin-bottom: 10px;
}

.main-footer .social a {
    color: #c3bec2;
    font-size: 15px;
}

.main-footer .social a:hover {
    color: #ff2b4a;
}

.main-footer .social a i {
    border-right: 1px solid #c3bec2;
    padding: 0 10px 0 10px;
}

.main-footer .social a i.dribbble {
    border-right: 0;
}

.main-footer p {
    color: #c3bec2;
    font-size: 12px;
}















/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}












/* -------------------------------- 

Main components 

-------------------------------- */

.home-main-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #3a393f;
    /* slightly visible only when we resize this element */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.home-main-content.move-out {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.no-js .home-main-content {
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
}



.cd-header {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}



/*.logo {
    display: none;
}*/

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 80px;
    }
}

#cd-logo {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 100px;
    height: 32px;
}

#cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    #cd-logo {
        left: 20px;
        top: 24px;
    }
}

@media only screen and (min-width: 1170px) {
    #cd-logo {
        left: 60px;
    }
}

.cd-menu-trigger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding: 0 .8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
    border: 2px solid #EDEDED;
    background: rgba(0, 0, 0, 0.36);
}

.cd-menu-trigger span {
    /* hamburger icon */
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    vertical-align: middle;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.cd-menu-trigger span::before,
.cd-menu-trigger span::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.cd-menu-trigger span::before {
    top: -6px;
}

.cd-menu-trigger span::after {
    bottom: -6px;
}

.no-touch .cd-menu-trigger:hover span::before {
    top: -8px;
}

.no-touch .cd-menu-trigger:hover span::after {
    bottom: -8px;
}

ul {
    margin-bottom: 0;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 2%;
    width: 22%;
    /*height: 100%;*/
    background: rgba(0, 0, 0, 0.80);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    /* we move this element off the canvas */
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 3;
}

#main-nav ul {
    /*height: 100%;*/
    /*overflow-y: scroll;*/
}

#main-nav li {
    /*height: 14%;*/
}

#main-nav li a {
    position: relative;
    display: block;
    padding: 8% 10%;
    height: 100%;
    border-bottom: 1px solid #7d4f29;
    color: #ffffff;
    font-size: 13px;
    /*font-weight: bold;*/
}

#main-nav li a span {
    /*position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.no-touch #main-nav li a:hover {
    /* background-color: #FFF; */
}

#main-nav li:last-child a {
    border-bottom: none;
}

#main-nav .cd-close-menu {
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    /*background-color: rgba(51, 48, 48, 0.36);*/
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

#main-nav .cd-close-menu::before,
#main-nav .cd-close-menu::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 10px;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#main-nav .cd-close-menu::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#main-nav .cd-close-menu::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.no-touch #main-nav .cd-close-menu:hover::before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.no-touch #main-nav .cd-close-menu:hover::after {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

#main-nav.is-visible {
    top: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


.no-js #main-nav {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-js #main-nav .cd-close-menu {
    display: none;
}

.cd-shadow-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    transition: visibility 0s 0.5s, opacity 0.5s 0s;
}

.cd-shadow-layer.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

.hideit {
    display: none;
}

#logohead {
    width: 100%;
    height: 60px;
    display: none;
    background: rgb(201, 188, 151);
    z-index: 2;
    position: fixed;
    top: -60px; // opacity: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    background: rgba(89, 53, 21, 1);
    background: -moz-linear-gradient(45deg, rgba(89, 53, 21, 1) 0%, rgba(204, 162, 125, 1) 50%, rgba(204, 162, 125, 1) 51%, rgba(158, 103, 58, 1) 71%, rgba(89, 53, 21, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(89, 53, 21, 1)), color-stop(50%, rgba(204, 162, 125, 1)), color-stop(51%, rgba(204, 162, 125, 1)), color-stop(71%, rgba(158, 103, 58, 1)), color-stop(100%, rgba(89, 53, 21, 1)));
    background: -webkit-linear-gradient(45deg, rgba(89, 53, 21, 1) 0%, rgba(204, 162, 125, 1) 50%, rgba(204, 162, 125, 1) 51%, rgba(158, 103, 58, 1) 71%, rgba(89, 53, 21, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(89, 53, 21, 1) 0%, rgba(204, 162, 125, 1) 50%, rgba(204, 162, 125, 1) 51%, rgba(158, 103, 58, 1) 71%, rgba(89, 53, 21, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(89, 53, 21, 1) 0%, rgba(204, 162, 125, 1) 50%, rgba(204, 162, 125, 1) 51%, rgba(158, 103, 58, 1) 71%, rgba(89, 53, 21, 1) 100%);
    background: linear-gradient(45deg, rgba(89, 53, 21, 1) 0%, rgba(204, 162, 125, 1) 50%, rgba(204, 162, 125, 1) 51%, rgba(158, 103, 58, 1) 71%, rgba(89, 53, 21, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593515', endColorstr='#593515', GradientType=1);
}












/*span {
  position: fixed;
  top: 100px;
}*/

#img {
    height: 90px;
    position: fixed;
    top: 10%;
    left: 20%;
    padding: 11px;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 5px;
    /* border-top: 2px solid #ecf0f2; */
    /* border-bottom: 2px solid #ecf0f2; */
    -moz-box-shadow: 4px 4px 3px #ffffff;
    -webkit-box-shadow: 4px 4px 3px #ffffff;
    box-shadow: 6px 6px 3px #ffffff54;
}

.color-fff {
    color: #fff;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}












/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}












/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.padding-b-t-0 {
    padding-bottom: 0px;
    padding-top: 0px;
}

.padding-b-17 {
    padding-bottom: 17px !important;
}

.padding-t-30 {
    padding-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-b-5 {
    margin-bottom: 5px
}

.color-060603 {
    color: #060603 !important;
}

.display-inline-block {
    display: inline-block !important;
}

@media only screen and (max-width: 768px) {

    #main-nav {
        width: 31%;
    }
    .home {
        background: url(../images/cover-bg.jpg) no-repeat left top fixed !important;
        background-size: cover;
    }
    h4,
    h5 {
        /* font-family: 'roboto', sans-serif; */
        font-weight: 300;
        margin: 0;
        line-height: 5rem;
        color: #525252;
    }
    .cd-menu-trigger {
        padding: 0px 14px;
    }
    .about-content h4 {
        font-size: 18px !important;
    }
    p {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    #img {
        height: 90px;
        position: fixed;
        top: 15%;
        left: 50%;
    }
}

@media only screen and (min-width: 768px) {
    #img {
        height: 90px;
        position: fixed;
        top: 10%;
        left: 25%;
    }
    .cd-menu-trigger {
        top: 4px;
        right: 10px;
        font-size: 16px;
        font-size: 1rem;
    }
    #main-nav {
        width: 12%;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-menu-trigger {
        right: 60px;
    }
    #img {
        height: 90px;
        position: fixed;
        top: 10%;
        left: 20%;
    }
    #main-nav {

        width: 12%;
    }
    .hideit-large {
        display: none;
    }
    #main-nav.is-visible-large {
        top: 10%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-shadow-layer.is-visible-large {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
    }
    .is-visible-large .cd-close-menu {
        display: none !important;
    }
}